.box {
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2), 0 4px 15px 0 rgba(0,0,0,.19);
}

.now-list-restaurant {
    padding: 13px 40px 10px;
    border: 1px solid #d7d7d7;
    background-color: #fff;
    border-radius: 6px;
    margin-bottom: 20px;
    position: relative;
}

.button-custom{

}